/* Font(s) */
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
    text-align: center;
    margin: 12;
    background-color: #f3f4f6;
}

a {
    text-decoration: none;
}

.div-title {
    width: 80%;
    height: 190px;
    line-height: 200px; /* value = height + 10 */
    border-radius: 9px;
    border-width: 0;
    display: inline-block;
    box-shadow: 0px 0px 7px 3px #d3d4d6;
    /* Background config */
    background-image:url('goddot.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size : cover;
    /* Font config */
    color: white;
    font-family: 'Jua', sans-serif;
    font-size: 100px;
}

.div-posts {
    width: 80%;
    margin: 12 10% 0 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    float: left;
}

.div-post {
    width: 24.2%;
    height: 300px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 9px;
    box-shadow: 0px 0px 7px 3px #d3d4d6;
    margin-bottom: 12;
}

.div-post-empty {
    width: 24.2%;
    height: 300px;
    margin-bottom: 12;
}